<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="checkbox" v-model="checked">v-bind<br><br/><label>{{checked}}</label>
    <input type="checkbox" value="1" v-model="checks">
    <input type="checkbox" value="2" v-model="checks">
    <input type="checkbox" value="3" v-model="checks">
    <label for="checkbox">{{checks}}</label>
    <p/>
    <input type="radio" value="1" v-model="which">
    <input type="radio" value="2" v-model="which">
    <span>{{which}}</span>
    <p/>
    <select v-model="which">
      <option which>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    <span>which:{{which}}</span>
    <p/>
    <select v-model="which" multiple>
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
    <span>which:{{which}}</span>
    <p/>
    <textarea v-model="msg" placeholder="input some lines"></textarea>
    <p style="white-space: pre">message:<br>{{msg}}</p>
  </div>

  <script>
    var a = new Vue({
      el: '#app',
      data() {
        return { 
          checked: true,
          checks: ["1", "2"],
          which: "2",
          msg: ""
        }
      }
    })
  </script>
</body>
</html>